---
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    {description && <meta name="description" content={description} />}
    <title>{title}</title>
  </head>
  <body class="bg-zinc-950 text-zinc-100 antialiased">
    <slot />
  </body>
</html>
